<h1 style="line-height:1.4;">COMSW 4111 (section 02) Introduction to Databases (Fall 2019): <br>Lecture 1: Introduction

_Environment Setup:_ __Ignore for now.__

In [1]:
%load_ext sql
%sql mysql+pymysql://dbuser:dbuserdbuser@localhost/lahman2017
%sql select * from people where playerid='willite01'

1 rows affected.

[('willite01', 1918, 8, 30, 'USA', 'CA', 'San Diego', 2002, 7, 5, 'USA', 'FL', 'Inverness', 'Ted', 'Williams', 'Theodore Samuel', '205', '75', 'L', 'R', '1939-04-20', '1960-09-28', 'willt103', 'willite01', datetime.date(2002, 7, 5), datetime.date(1918, 8, 30))]

## Lecture Overview

1. Introductory Material:
    - Course, sections and waitlist.
    - The course: course objectives, logistics, assignments/grading, material and outline.<br><br>
1. Our Application Scenario and Motivation<br><br>
1. Technical Topics:
    - Data, databases and database management systems.
    - Database management systems: examples and comparisons.
    - MySQL and the relational model.<br><br>
1. Environment setup.<br><br>
1. Homework 1

## Course, Section and Waitlist

- The administrative staff of the Dept. of Computer Science __directly__ manages enrollment in the sections and the wait lists.
    - COMS W4111 is ALWAYS oversubscribed and has huge waitlists.
    - The course is a requirement for several majors and tracks.
    - There are __complex rules__ about prioritizing students for course enrollment, and also which students can take the hybrid section.
    
    
- The limiting factor on the standard, in-person lecture enrollment is the size of the room. We have to comply with university, city and state fire and safety codes.


- Summary: Contact Jessica Rosa in the Dept. of Computer Science if you want to discuss the waitlist or enrollment in sections. <span style="color:red;"><b>You must work with the CS department (Jessica Rosa) if you have special circumstances for waitlist prioritization.</b></span>

## The Course

From the [Columbia University Bulletin](http://bulletin.columbia.edu/columbia-college/departments-instruction/computer-science/#coursestext)

"The fundamentals of database design and application development using databases: entity-relationship modeling, logical design of relational databases, relational data definition and manipulation languages, SQL, query processing, transaction processing. Programming projects are required."


The CU course description lists the following prerequisites:
- _COMS W3137 -- Honors Data Structures and Algorithms_ or _W3134 -- Data Structures in Java_
- Fluency in Java
- Instuctor's permission.


For this section,
- A course in data structures is helpful for __this__ section of W4111 __but not essential.__
- Java is an excellent language for learning algorithms, data structures and programming fundamentals. __But, this section will use Python for examples, homework, etc.__ Python and the tool ecosystem are becoming the predominate language and tools for database centric scenarios.

| <img src="../../images/python_and_db.jpeg"> |
| :---: |
| Python and Databases |

| <a href="https://www.researchgate.net/figure/Schematic-view-of-the-Python-scientific-software-ecosystem-Figure-taken-from-Jake_fig1_332799309"><img src="https://www.researchgate.net/publication/332799309/figure/fig1/AS:753947908272130@1556766597837/Schematic-view-of-the-Python-scientific-software-ecosystem-Figure-taken-from-Jake.png" alt="Schematic view of the Python scientific software ecosystem. Figure taken from Jake VanderPlas's presentation at the PyCon 2017 conference [3]."/></a>|
| :---: |
| [Python Engineering and Data Ecosystem](https://www.researchgate.net/figure/Schematic-view-of-the-Python-scientific-software-ecosystem-Figure-taken-from-Jake_fig1_332799309) |

__Note:__
1. The learning curve can be steep at the beginning. This can and will be anxiety producing for some students.
<br><br>
2. We will get you over the hump of the curve and productive.
<br><br>
3. Many students, including non-CS, have found the skills useful in internships, job interviews, ...

### Instructors

#### The Professor

- Contact information:
    - Email: dff9@columbia.edu
    - Slack: https://dff-columbia.slack.com/


- Donald F. Ferguson
    - [Ansys, Inc.](https://www.ansys.com/): _Senior Technical Fellow, Chief Software Architect._
    - _Adjunct Professor,_ Dept. of Computer Science.
    

- Academic experience
    - Ph.D. in Computer Science, Columbia University, 1989
    - Joined Columbia as full time _Professor of Professional Practice_, 01-Jan-2018.
    - Transitioned back to Adjunct Professor, 01-Jan-2019.
    - 9 semesters as an adjunct professor teaching
        - _E6998: Topics in Computer Science_
            - Cloud Computing
            - Web and Internet Application Development
            - Web Application Servers and Applications
            - Microservices
        - _W4111 - Introduction to Databases_
    - _Professor of Professional Practice in Computer Science,_ January 2018
         - _E1006_ - Introduction to Computing for Engineers and Applied Scientists using Python_
         - _W4111 - Introduction to Databases_
         - _E6156 - Topics in SW Engineering: Microservices and Cloud Applications_
         


- 30 years industry experience
    - [IBM Fellow](https://en.wikipedia.org/wiki/IBM_Fellow), Chief Architect for [IBM Software Group](https://en.wikipedia.org/wiki/IBM_Software_Group_(SWG)
    - Microsoft Technical Fellow
    - Executive Vice President, Chief Technology Officer, [CA Technologies](https://www.ca.com/us.html)
    - Vice President, CTO, Senior Fellow, [Dell Software Group](https://en.wikipedia.org/wiki/Dell_Software)
    - Co-Founder and CTO, [Seeka TV](https://seekatv.com/)
    - Senior Technical Fellow, Chief SW Architect, [Ansys, Inc.](http://www.ansys.com)


- Publications
    - Approximately 60 technical publications.
    - Authored, co-authored several standards in web applications and web services.
    - _Web Services Platform Architecture: SOAP, WSDL, WS-Policy, WS-Addressing, WS-BPEL, WS-Reliable Messaging, and More,_ ISBN-13: 978-0131488748, 2005, Pearson Education.
    - 12 patents.


- Personal and hobbies
    - Two amazing daughters (One is Barnard student. One is a senior in high school)
    - Interested in languages. Speak Spanish reasonably well and trying to learn Arabic.
    - Black Belt in Kenpo Karate
    - Amateur astronomy
    - Road bicycling
    - Officer in the New York Guard

<br>

| <img src="../../images/aboutme.jpeg" width="150%"> |
| :---: |
| __About Me__ |

#### Course/Instruction Assistants

We have great CAs/IAs. They will announce on Piazza.


- CA/IA from previous semesters:
    - TBD
    
    
- CA/IA who have taken the class from me.
    - TBD

### About this Course

- This course is foundational, and will teach you the core concepts in
    - Data modeling
    - Data model implementation; Data manipulation.
    - Different database models and database management systems.
    - Implementation of data centric applications and database management systems.
    
    
- ANY non-trivial application
    - Requires a well-designed data model.
    - Implements a data model and manipulates data.
    - Uses a database management system.
    
    
- Understanding databases and database management are core to the “hottest fields” in computer science, e.g.
    - Data science
    - Machine learning
    - Intelligent (Autonomous) systems
    - Internet-of-Things
    - Cybersecurity 
    - Cloud Computing
    
    
- Database, database application, etc. skills are increasingly central to many disciplines, including economics, IEOR, mechanical and electrical engineering, business and finance, ...
    
    
- University courses on databases sometimes focus on theory and abstract concepts. This course will cover theory, but the emphasis will be on:
    - Practical, hands-on applications of databases.
    - Developing and understanding database centric applications.
    - Patterns and best practices.
    
   
- <span style="color:red"> __Personal perspective__
    - A large percent of my career has been spent figuring out or leading teams that figured out how to model, implement and manipulate data.
    - I have used the information in this class more than anything else I have learned.
    - This will likely be true for you.
</span>

### Course Objectives

- Have fun, learn a lot and come to appreciate and enjoy some amazing technology.


- Provide a foundation that allows you to succeed in future courses. This is an _introduction_ to databases. The technology is crucial for
    - Advanced database classes
    - Machine learning
    - Big data, data analysis
    - Numerical, simulation and analytics in operations research, engineering, economics, finance, life sciences, etc.
    
    
- Enable you to successfully apply the technology in your work and profession.

<br>
<div class="cool" style="text-align:center">Have cool stuff to talk about on interviews and resumes.</div>
<br>

### Organization and Logistics

- Lecture: Friday, 10:10 AM-12:40 PM, Room TBD

 
- Instructor: Donald F. Ferguson (dff@cs.columbia.edu)


- Office Hours:
    - Fridays, 3:00 PM -? PM. 
    - By appointment, as needed, as available.
    - I hold a lot of extra office hours.
        - I typically post on Piazza when I will have extra availability.
        - The extra OHs may be "recitations," which are in-person and on-line, or just on-line.
        - Extra OH and recitations are often on the weekend.
    
    
- Collaboration/Contact
    - The class is on [Piazza](https://piazza.com/class/jy3jm0i73f8584)
        - General questions
        - Clarification of homeworks, class material, etc.
    - Slack, for quick messages and questions.
        - Direct message to me, and
        - Please join slack and the channel [#w4111s19](https://join.slack.com/t/dff-columbia/shared_invite/enQtMjg0Mzk4MTQwMzQxLTMxYTY1YjJkOTQ1ZGY2ZjFhMGQzYTMzOWI5ZTBiYzY3YmQ1OTIzOGFkZDcwMDkyNzFiNWQ3M2NlYzM2YmU0ZTM) for quick questions/comments to class.

    - The course lectures, sample code, etc. will be on GitHub.
        - GitHub home page (https://donald-f-ferguson.github.io/w4111-Databases/)
        - Repository/Project (https://github.com/donald-f-ferguson/w4111-Databases)
    - Course Assistants: See above

### Assignments, Exams and Grades

- Point value of assignments and exams
    - 50%: Homework assignments
        - Approximately one HW every two weeks, for a total of 5.
        - Primarily programming projects.
    - Exams: All exams are "take home exams."
        - Mix of short programming assignments and questions.
        - 20% of grade is midterm exam score.
        - 30% is final exam score. 
    - Extra-credit: Class participation, contributions on Piazza and office hour participation, extra work on assignments, etc. earn extra-credit points.
    - Perfect score is an A. A+ requires extra effort.
       

- Late submission
    - You have a total of 5 grace days to apply for all homeworks.
    - 1 minute past the due date counts for 1 day. 24 hours + 1 minute counts for two days.
    - You cannot use grace days for midterm, final exam or extra-credit assignments.
    - NOTE:
        - Respect for the individual is paramount. 
        - We will always accommodate illness, family emergencies, etc.

### Environment and material
- Course material
    - Lectures and references: Textbooks are dated and also lack realistic scenarios and concepts.
    - Optional textbook:
        - _Database Management Systems, 3rd Edition_, Ramakrishnan and Gehrke, ISBN: 978-0072465631
        - We will cover a subset of the material in the textbook, and in a different order.
    - I will bring in examples from industry, engineering and practical experience.
    - Lecture material and examples:
        - Will be Jupyter Notebooks (http://jupyter.org/) for most lectures. I usually install the full [Anaconda suite.](https://www.anaconda.com/download)
        - Slides (PowerPoint) for some lectures.
        - Notebooks, slides, sample code, etc. will be available on [GitHub project](https://github.com/donald-f-ferguson/w4111-Databases) for the course. The easiest approach is to clone the project repository.
        
        
- Project and development
    - I will primarily use Python. I strongly recommend you do the same.
    - You can use the language of your choice, but my ability to help diminishes if you choose a language other than JavaScript, Python or Java.
    
    
- Development environment
    - Database engines and tools
        - We will start with the relational data model. Please install
            - [MySQL](https://dev.mysql.com/doc/refman/5.7/en/installing.html) and
            - [MySQL Workbench](https://dev.mysql.com/doc/workbench/en/wb-installing.html).
            - You can also use Sequel Pro on in place of SQL Workbench (on Mac).
        - We will also use [Neo4j](https://neo4j.com/), [CouchDB](http://couchdb.apache.org/) and Redis (https://redis.io/), but you do not need to install now.
        - I will try to cover [DynamoDB](https://aws.amazon.com/dynamodb/), [DocumentDB](https://aws.amazon.com/documentdb/) and [Firebase Realtime Database](https://firebase.google.com/docs/database/), which are cloud DBs.
    - [Integrated Development Environments](https://en.wikipedia.org/wiki/Integrated_development_environment)
        - The [JetBrains](https://www.jetbrains.com/student/) tools are free for students, and useful for Python, JavaScript and Java. __I strongly recommend you use one of these tools for developing code.__
        - [Eclipse](https://www.eclipse.org/) is an alternative.
        - I will use Ananconda/Jupyter for most of the lectures and examples. You can choose to install
            - Install Python 3
            - [Anaconda Community Distribution](https://www.anaconda.com/distribution)
            - Ananconda includes the [Spyder](https://github.com/spyder-ide/spyder) and VisualStudio for Python. I __strongly__ prefer JetBrains but you can use Spyder.

<div class="cool" style="line-height:1.2;">
<b>My normal approach is:<b>
<ul>
<li>__Develop and test code using PyCharm (IDE)__
<li>__Copy into Notebook when "done."__
<li>__Debugging is very hard without a good IDE debugger.__
</ul>
I suggest you do the same and use PyCharm.
</div>
            
I will provide links to on-line material providing definitions and optional information. I often use Wikipedia because it is a good starting point and has many references.

### Course Outline

__Module I: Foundational Concepts__

1. Introduction to databases, role in applications, type of DB applications and overall system software architecture.

2. Information and data modeling and best practices, focusing on supporting application scenarios.

3. Relational data model (theory), Relational Database Management Systems, Structured Query Language, data query and update scenarios.

4. Extended topics in SQL and RDBMS (performance, security, constraints, triggers, connection management, etc).

__Module II: Database Management System Implementation/Architecture__

5. Storage management, disk management, buffer management, indexes.

6. Query processing and optimization:  Query evaluation, query parsing and parse trees, operator implementation algorithms, query rewrite, query optimization techniques.

7. Concurrency control and transaction management.

__Module III: NoSQL Database Overview__

8. Overview, graph databases, Redis.

9. Amazon S3, Amazon DynamoDB, Google Firebase/Cloud Firestore.

__Module IV: Decision Support, Data Analysis__

10. Overview of schema denormalization, OLAP cubes, data analytics, machine learning.

## Data, Databases, Data Models and Database Management Systems

### What is Data?




| <img src="../../images/Slide28.jpg" width="900px"> |
| :---: |
| __What is Data__ |

### Examples of Data

| <img src="../../Images/Slide29.jpg" width="900px"> |
| :---: |
| __Examples__ |

### Some Ways to Think about Data

#### Structured vs Unstructured

| <img src="../../images/datastructure.jpg" width="900px"> |
| :--------: |
| __Structured vs Unstructured__ |

##### Structured Data

- High degree of organization.


- All records for a given type have
    - The same fields.
    - The fields are strongly typed.
    - There are _integrity constraints_ of values, e.g. __NOT NULL.__
    
    
- The _relational model_ is the canonical example.

```
CREATE TABLE `students` (
  `student_ID` varchar(30) NOT NULL,
  `first_name` varchar(30) NOT NULL,
  `last_name` varchar(30) NOT NULL,
  `middle_name` varchar(30) DEFAULT NULL,
  `email` varchar(100) NOT NULL,
  PRIMARY KEY (`student_ID`),
  KEY `name_idx` (`last_name`,`first_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `course_info` (
  `course_no` varchar(30) NOT NULL,
  `course_description` varchar(255) NOT NULL,
  PRIMARY KEY (`course_no`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `grades` (
  `student_id` varchar(30) NOT NULL,
  `course_no` varchar(30) NOT NULL,
  `grade` double NOT NULL,
  PRIMARY KEY (`student_id`,`course_no`),
  KEY `grade_course_idx` (`course_no`),
  CONSTRAINT `grade_course` FOREIGN KEY (`course_no`) REFERENCES `course_info` (`course_no`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `grade_student` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
```

- The data is __structured,__ which means you mist define the structure $\Rightarrow$ there is a __data definition language (DDL).__ A DDL is similar to defining a class in Java, C++ or Python.


- Instances of data (rows, tuples) must match the DDL in the same way objects match the class definition.


- The Relational Model has additional capabilities:
    - Integrity constraints, e.g. ```NOT NULL.``` _Primary Key_ means that the $studen_id$ is ```NOT NULL``` and ```UNIQUE.```
    - Referential Integrity: In this example, for every _Grade_ row, there must be one row with a matching $student\_id$ in _students._
    - Indexes: There is an auxiliary data structure that speeds up locating students using name fields.

- Some examples of __data manipulation language (DML)__ statements.

In [4]:
%sql use aaaaw4111f19;

0 rows affected.

[]

In [7]:
%%sql
select * from students where exists
    (select grade from grades where grade < 70 and grades.student_id = students.student_id)

4 rows affected.

[('200266202', 'Qaswar', 'Rai', '', 'ali202@cs.uregina.ca'),
 ('200266204', 'Nikki', 'Pawlowski', '', 'pawlow204@cs.uregina.ca'),
 ('200266207', 'Jody-Lee', 'DerVelden', 'Van', 'vanervj207@cs.uregina.ca'),
 ('200266209', 'Ke', 'Tao', '', 'taoke209@cs.uregina.ca')]

- This is a simple example of an integrity constraint.

In [3]:
import pymysql

import pymysql.cursors
import pandas as pd
import json

# The database server is running somewhere in the network.
# I must specify the IP address (HW server) and port number
# (connection that SW server is listening on)
# Also, I do not want to allow anyone to access the database
# and different people have different permissions. So, the
# client must log on.


# Connect to the database over the network. Use the connection
# to send commands to the DB.
cnx = pymysql.connect(host='localhost',
                             user='dbuser',
                             password='dbuserdbuser',
                             db='aaaaw4111f19',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

In [5]:
sql = "insert into grades(student_id, course_no, grade) values(%s, %s, %s)"

try:
    cur = cnx.cursor()
    res = cur.execute(sql, args=('123', '45', 80))
except Exception as e:
    print("Exception e = ", e)

Exception e =  (1452, 'Cannot add or update a child row: a foreign key constraint fails (`aaaaw4111f19`.`grades`, CONSTRAINT `grade_student` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION)')

##### Semi-structured Data

- There are records with fields.


- You can parse the data to extract records and fields into data structures.


- Records may have some common fields, but any record may have any fields of any types.


- Documents are the canonical example:
    - There are common structural concepts: headers, lists, footnotes, etc.
    - But different documents have different combinations, nesting, etc.


##### Unstructured

- No explicit records or delimiters.


- Just a sequence of characters/bytes that can be interpreted by some processing engine.


- Images, audio files, etc. are examples.

##### Course Focus

- We will focus on structured data and some on semi-structured. 


- Need to constrain the scope for a one semester class.


- Structured data concepts are foundational and apply to semi-structured and unstructured data.


- Unstructured data scenarios often require extracting or extending with structured data.

#### [Data versus Metadata](https://en.wikipedia.org/wiki/Metadata)

##### Concept

- Metadata is "data information that provides information about other data". Three distinct types of metadata exist:
    1. Descriptive metadata
    2. Structural metadata
    3. Administrative metadata.
    
    
- Descriptive metadata describes a resource for purposes such as discovery and identification. It can include elements such as title, abstract, author, and keywords.


- Structural metadata is metadata about containers of data and indicates how compound objects are put together, for example, how pages are ordered to form chapters. It describes the types, versions, relationships and other characteristics of digital materials.


- Administrative metadata provides information to help manage a resource, such as when and how it was created, file type and other technical information, and who can access it.


- We will cover metadata, especially while studying relational data.

##### Examples

<u>Tell me about Ted Williams</u>

In [2]:
%sql select * from people where nameLast="Williams" and nameFirst="Ted"

1 rows affected.

[('willite01', 1918, 8, 30, 'USA', 'CA', 'San Diego', 2002, 7, 5, 'USA', 'FL', 'Inverness', 'Ted', 'Williams', 'Theodore Samuel', '205', '75', 'L', 'R', '1939-04-20', '1960-09-28', 'willt103', 'willite01', datetime.date(2002, 7, 5), datetime.date(1918, 8, 30))]

<u>Describe what information you have about ```people.```</u>

In [4]:
%sql describe people

26 rows affected.

[('playerID', 'varchar(16)', 'NO', 'PRI', None, ''),
 ('birthYear', 'int(11)', 'YES', '', None, ''),
 ('birthMonth', 'int(11)', 'YES', '', None, ''),
 ('birthDay', 'int(11)', 'YES', '', None, ''),
 ('birthCountry', 'text', 'YES', '', None, ''),
 ('birthState', 'text', 'YES', '', None, ''),
 ('birthCity', 'text', 'YES', '', None, ''),
 ('deathYear', 'int(11)', 'YES', '', None, ''),
 ('deathMonth', 'int(11)', 'YES', '', None, ''),
 ('deathDay', 'int(11)', 'YES', '', None, ''),
 ('deathCountry', 'text', 'YES', '', None, ''),
 ('deathState', 'text', 'YES', '', None, ''),
 ('deathCity', 'text', 'YES', '', None, ''),
 ('nameFirst', 'text', 'YES', '', None, ''),
 ('nameLast', 'varchar(128)', 'YES', 'MUL', None, ''),
 ('nameGiven', 'text', 'YES', '', None, ''),
 ('weight', 'text', 'YES', '', None, ''),
 ('height', 'text', 'YES', '', None, ''),
 ('bats', 'text', 'YES', '', None, ''),
 ('throws', 'text', 'YES', '', None, ''),
 ('debut', 'text', 'YES', '', None, ''),
 ('finalGame', 'text', 'YES', '', None, ''),
 ('retroID', 'text', 'YES', '', None, ''),
 ('bbrefID', 'text', 'YES', '', None, ''),
 ('DOD', 'date', 'YES', '', None, ''),
 ('DOB', 'date', 'YES', '', None, '')]

- Programming languages have similar concepts.
    - [Java Reflection]() is an example.
    - Python has a similar conccept. (https://www.geeksforgeeks.org/reflection-in-python/)
    
    
| <img src="../../images/java_reflection.jpeg"> |
| :---: |
| [Java Reflection](https://www.geeksforgeeks.org/reflection-in-java/)

__Python:__

In [5]:
import json
def whatDidIGet(huh):
    print("What the heck did you pass me?")
    print("The type is = ", type(huh))
    print("The methods and properties are: ", json.dumps(dir(huh), indent=2))

In [6]:
# Create a simple list.
x = [1, 2, 3]

whatDidIGet(x)

What the heck did you pass me?
The type is =  <class 'list'>
The methods and properties are:  [
  "__add__",
  "__class__",
  "__contains__",
  "__delattr__",
  "__delitem__",
  "__dir__",
  "__doc__",
  "__eq__",
  "__format__",
  "__ge__",
  "__getattribute__",
  "__getitem__",
  "__gt__",
  "__hash__",
  "__iadd__",
  "__imul__",
  "__init__",
  "__init_subclass__",
  "__iter__",
  "__le__",
  "__len__",
  "__lt__",
  "__mul__",
  "__ne__",
  "__new__",
  "__reduce__",
  "__reduce_ex__",
  "__repr__",
  "__reversed__",
  "__rmul__",
  "__setattr__",
  "__setitem__",
  "__sizeof__",
  "__str__",
  "__subclasshook__",
  "append",
  "clear",
  "copy",
  "count",
  "extend",
  "index",
  "insert",
  "pop",
  "remove",
  "reverse",
  "sort"
]

In [7]:
type(getattr(x, "sort"))

builtin_function_or_method

In [8]:
dir(getattr(x, "sort"))

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [9]:
# Create a simple list.
def someFunction(y):
    pass

whatDidIGet(someFunction)

What the heck did you pass me?
The type is =  <class 'function'>
The methods and properties are:  [
  "__annotations__",
  "__call__",
  "__class__",
  "__closure__",
  "__code__",
  "__defaults__",
  "__delattr__",
  "__dict__",
  "__dir__",
  "__doc__",
  "__eq__",
  "__format__",
  "__ge__",
  "__get__",
  "__getattribute__",
  "__globals__",
  "__gt__",
  "__hash__",
  "__init__",
  "__init_subclass__",
  "__kwdefaults__",
  "__le__",
  "__lt__",
  "__module__",
  "__name__",
  "__ne__",
  "__new__",
  "__qualname__",
  "__reduce__",
  "__reduce_ex__",
  "__repr__",
  "__setattr__",
  "__sizeof__",
  "__str__",
  "__subclasshook__"
]

### A Diversion: Jupyter Notebook, Python and Database Sever

### Data Explosion


| <img src="../../images/datasize.png">|
| :---: |
| __Data Explosion__ |

- The world's total, yearly data creation will reach [163 zettabytes in 2025.](https://www.forbes.com/sites/andrewcave/2017/04/13/what-will-we-do-when-the-worlds-data-hits-163-zettabytes-in-2025/#43b56b37349a)


- __DANGER:__ Math before caffeine.


- Zettabyte is $1000^7 = 10^{21}.$ 


- World's population is/will be approximately $10 * 10^{9} = 10^{10}$


- Data per person in 2025 = <br><br>
\begin{equation}
\frac{1.63 * 10^2 * 10^{21}}{10^{10}} = \frac{1.63 * 10^{23}}{10^{10}} = 1.63 * 10^{13} = 16.3*10^{12} = 16.3*10^{3}*10^{9} = 16,000\ GB \ per \ person, \ per \ year.
\end{equation}


- In 2025, "an average connected person anywhere in the world will interact with connected devices nearly 4,800 times per day – one interaction every 18 seconds." [Forbes](https://www.forbes.com/sites/andrewcave/2017/04/13/what-will-we-do-when-the-worlds-data-hits-163-zettabytes-in-2025/#43b56b37349a). Each interaction creates new data.

### The Four Vs


| <img src="../../images/forvs.jpg" width="900px"> |
| :---: |
| __Four Vs of Data__ |

Some driving factors:
- Volume:
    - File/instance size: videos, images, VR, ...
    - Sources: Internet-of-Things, events and monitoring, ...
    
    
- Velocity:
    - Monitoring and events from everything.
    - Video and audio from everywhere.
    

- Veracity:
    - Measurement error and approximation.
    - Incorrect configuration, entry, processing applications.
    
    
- Variety:
    - Base types: several base models for structured data.
    - Every device emits its own event format.
    - Multiple encodings and formats of text (mail, web page, tweet) audio, video, ...

### Or, Maybe Five Vs

| <img src="../../images/fives.jpg" width="800px"> |
| :---: |
| Five Vs |

- Value: "It's like trying to find a needle in a haystack size pile of needles."

## Big data landscape

| <img src="../../images/landscape.png" width="900px"> |
| :---: |
| [Big Data Landscape](http://mattturck.com/bigdata2018/) |

## Databases

### Definitions

“A database is an organized collection of data. It is the collection of schemas, tables, queries, reports, views, and other objects. The data are typically organized to model aspects of reality in a way that supports processes requiring information, such as modelling the availability of rooms in hotels in a way that supports finding a hotel with vacancies. (https://en.wikipedia.org/wiki/Database)”

“Systematically organized or structured repository of indexed information (usually as a group of linked data files) that allows easy retrieval, updating, analysis, and output of data. Stored usually in a computer, this data could be in the form of graphics, reports, scripts, tables, text, etc., representing almost every kind of information. Most computer applications (including antivirus software, spreadsheets, word-processors) are databases at their core.” (http://www.businessdictionary.com/definition/database.html)

### Simplistic example

| <img src="../../images/northwind-model.jpg" width="900px"> |
| :---: |
| __Simplistic Example \(and First Datamodel\)__|

- Entity – Data about a “Thing,” e.g.
    - Person
    - Web click
    - Product
    
    
- Fields (Properties) – The data describing, defining an entity. Often named and typed, e.g.
    - (Height, Integer)
    - (Last name, String)
    
    
- Entity Set/Collection/Table
    - A group of things.
    - Usually the same ”kind of entity”
    
    
- Relationships/Associations – Links between entities, which convey semantic information, e.g.
    - Don IsA Professor
    - Don Teaches {COMS4111, COMSE6998)
    
    
    
### Slightly Less Simplistic Example

| <img src="../../images/lessimple.jpg" width="900px"> |
| :---: |
| __Slightly Less Simplistic Schema__ |
<br>
<hr>
<br>


| <img src="../../images/less-simplistic.png" width="900px"> |
| :---: |
| __Slightly, Slightly Less Simplistic Schema__ |


- All joking aside. A single database/datamodel can have
    - 100s of entities.
    - 100s of relationships
    - 1000s of attributes.

## Database Management Systems


<img src="../../images/Slide52.jpg" width="90%">
<hr>
<img src="../../images/Slide53.jpg" width="90%">
<hr>
<br><br> 

| <img src="../../images/coms4111-slides-90.jpg"> |
| :---: |
| __DBMS Taxonomy__ |
<br>
<hr>
<br>

| <img src="../../images/dbms-engine.jpg" width="600px"> |
| :---: |
| __DBMS Engine Overview__ |

- We will cover DBMS implementation in Module II.


- To understand DBMS models and usage, we will primarily focus on 4 database management systems:
    1. Relational (MySQL)
    1. Graph Database (Neo4J)
    1. Key/Value- data structure store (Redis)
    1. Document (DynamoDB, Firebase)


- Motivation:
    - https://db-engines.com/en/ranking adoption and growth.
    - Diversity of base models covers core patterns in _functionality_ and _performance._
    
| <img src="../../images/dbtype-percentage.jpeg"> |
| :---: |
| [DBMS popularity broken down by database model](https://db-engines.com/en/ranking_categories) |


| <img src="../../images/dbgrowth.jpeg"> |
| :---: |
| [Popularity changes per category, August 2018](https://db-engines.com/en/ranking_categories) |

- Why start with MySQL? Popular, open source and free.

| <img src="../../images/rdbranking.jpeg"> |
| :---: |
| [DB-Engines Ranking of Relational DBMS](https://db-engines.com/en/ranking/relational+dbms) |

## Data modeling

### Overview


| <img src="../../images/datamodel1.jpeg"> |
| :---: |
| [Data Model](https://en.wikipedia.org/wiki/Data_model) |


- “Data modeling (data modelling) is the analysis of data objects and their relationships to other data objects. Data modeling is often the first step in database design and object-oriented programming as the designers first create a conceptual model of how data items relate to each other. Data modeling involves a progression from conceptual model to logical model to physical schema.” (http://www.webopedia.com/TERM/D/data_modeling.html)


- Conceptual-Logical-Physical

| <img src="../../images/conceptuallogicalphysical.jpeg"> |
| :---: |
| [Data Model](https://en.wikipedia.org/wiki/Data_model) |


- “What is a datamodel?
A data model is a __notation__ for describing data or information. The description generally consists of three parts:
    - Structure of data.
    - Operations on the data.
    - Constraints on the data.”<br>
(Database Systems: The Complete Book (2nd Edition)
by Hector Garcia-Molina (Author), Jeffrey D. Ullman (Author), Jennifer Widom (Author))


- __Notation:__ 
    - "A visual notation is a graphical representation. It consists of graphical symbols, their definitions, and a visual grammar. Some examples of graphical symbols are: lines, surfaces, volumes, textual labels and spatial relationships. These elements are used to build the visual vocabulary of a notation; Mind Maps for example, consist of lines and labels. Visual representations are effective because they convey information more concisely and precisely than language. They are also better remembered." (https://www.sciencedaily.com/releases/2013/07/130718161429.htm)
    - Think "well-defined clipart" with grammar (rules, meaning)

| <img src="../../images/notation1.jpeg"> |
| :---: |
| __Visual Notation__ |

<br>
<hr>
<br>

| <img src="../../images/notation2.jpeg"> |
| :---: |
| __Visual Notation__ |

- We will use [Crow's Foot Notation](https://en.wikipedia.org/wiki/Entity%E2%80%93relationship_model#Crow's_foot_notation)
    - Simple, clear, etc.
    - There are more powerful and complex notations, but getting carried away is easy.
    - The textbook uses [Chen's Notation.](https://en.wikipedia.org/wiki/Entity%E2%80%93relationship_model#Entity%E2%80%93relationship_modeling)

### Modling occurs in many  application domains

Some randomly (by Google) selected examples.
<br><br>


| <img src="../../images/lifescience.gif"> |
| :---: |
| ["Database application model and its service for drug discovery in Model-driven architecture"](https://doi.org/10.1186/s40537-015-0024-1) |

<br><br>

| <img src="../../images/enviro2.jpg" width="100%"> |
| :---: |
| [Environmental Data](http://geotech.com/envirodata) |

<br><br>

| <img src="../../images/ukgov.png" widht="75%"> |
| :---: |
| [Government](https://gds.blog.gov.uk/2013/10/31/government-as-a-data-model-what-i-learned-in-estonia/) as a Data Model |

## Let's do this

### Set up

- I downloaded [Lahman’s Baseball Database](http://www.seanlahman.com/baseball-archive/statistics/)


- Imported in MySQL DB server on my laptop.


- __Demonstrate import__

### Datamodel

- Full datamodel

| <img src="../../images/lahman2016.png" width="66%"><br><br> |
| :---: |
| __Full Lahman Data Model__ |


- Interesting subset (for now and 1st project).
    
| <img src="../../images/lahman2017-1.jpeg" width="100%"><br><br>   |
| :--: |
| __Initial Subset__ |

- Data model
    1. You can think of each one of the rectangles being a single row (_entity_) in a comma separated value file.
    1. Entries in entity are column names and data types.
    1. Lines indicate how to use columns from one file to find columns in another file. For example
        1. playerID can be used to find name information in Master.
        2. playerID can be use to find batting information in Batting.
        

- There are additional semantics that we will enforce (or the DBMS) will enforce.
    - Primary Key: A set of columns for which a given combination of values occurs at most once.
    - Index: Helper data structure that speeds up operations.
    - Integrity constraints: A record can exist in entity A only if there is a corresponding entry in entity B.
    
    
| <img src="../../images/coms4111-slides-92.jpg" width="100%"><br><br>   |
| :--: |
| __Additional Semantics__ |
    
- Some queries:
    - Find a player by the unique playerID.
    - Find all players that match a template.
    - Find all of a player's batting information by team and year based on  playerID.
    - I want to know the 10 greatest career hitters whose last appearance was 1960 or later. A simple algorithm is
        1. For each unique playerID in Batting
            1. Find the batting records for each year.
            1. If one of the years >= 1960. Compute over all years
                1. Total at bats
                1. Toal hits
                1. Batting average
        1. For every result from above, use the playerID to look the name up in Master. Add to result.
        1. Sort result by batting average descending.

- My examples will compare a relational database to writing code in Python that manipulates CSV files.


- A more complete, detailed solution will be HW 1. 


- "In computing, a comma-separated values (CSV) file is a delimited text file that uses a comma to separate values. A CSV file stores tabular data (numbers and text) in plain text. Each line of the file is a data record. Each record consists of one or more fields, separated by commas. The use of the comma as a field separator is the source of the name for this file format." (https://en.wikipedia.org/wiki/Comma-separated_values)

| <img src="../../images/people_xls.jpeg"> |
| :---: |
| __People.csv in Excel__ |

<u>What is in the file?</u>
```
playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,deathState,deathCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
aardsda01,1981,12,27,USA,CO,Denver,,,,,,,David,Aardsma,David Allan,215,75,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
aaronha01,1934,2,5,USA,AL,Mobile,,,,,,,Hank,Aaron,Henry Louis,180,72,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
aaronto01,1939,8,5,USA,AL,Mobile,1984,8,16,USA,GA,Atlanta,Tommie,Aaron,Tommie Lee,190,75,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
aasedo01,1954,9,8,USA,CA,Orange,,,,,,,Don,Aase,Donald William,190,75,R,R,1977-07-26,1990-10-03,aased001,aasedo01
abadan01,1972,8,25,USA,FL,Palm Beach,,,,,,,Andy,Abad,Fausto Andres,184,73,L,L,2001-09-10,2006-04-13,abada001,abadan01
abadfe01,1985,12,17,D.R.,La Romana,La Romana,,,,,,,Fernando,Abad,Fernando Antonio,220,73,L,L,2010-07-28,2017-10-01,abadf001,abadfe01
abadijo01,1850,11,4,USA,PA,Philadelphia,1905,5,17,USA,NJ,Pemberton,John,Abadie,John W.,192,72,R,R,1875-04-26,1875-06-10,abadj101,abadijo01
abbated01,1877,4,15,USA,PA,Latrobe,1957,1,6,USA,FL,Fort Lauderdale,Ed,Abbaticchio,Edward James,170,71,R,R,1897-09-04,1910-09-15,abbae101,abbated01
abbeybe01,1869,11,11,USA,VT,Essex,1962,6,11,USA,VT,Colchester,Bert,Abbey,Bert Wood,175,71,R,R,1892-06-14,1896-09-23,abbeb101,abbeybe01
abbeych01,1866,10,14,USA,NE,Falls City,1926,4,27,USA,CA,San Francisco,Charlie,Abbey,Charles S.,169,68,L,L,1893-08-16,1897-08-19,abbec101,abbeych01
abbotda01,1862,3,16,USA,OH,Portage,1930,2,13,USA,MI,Ottawa Lake,Dan,Abbott,Leander Franklin,190,71,R,R,1890-04-19,1890-05-23,abbod101,abbotda01
abbotfr01,1874,10,22,USA,OH,Versailles,1935,6,11,USA,CA,Los Angeles,Fred,Abbott,Harry Frederick,180,70,R,R,1903-04-25,1905-09-20,abbof101,abbotfr01
abbotgl01,1951,2,16,USA,AR,Little Rock,,,,,,,Glenn,Abbott,William Glenn,200,78,R,R,1973-07-29,1984-08-08,abbog001,abbotgl01
abbotje01,1972,8,17,USA,GA,Atlanta,,,,,,,Jeff,Abbott,Jeffrey William,190,74,R,L,1997-06-10,2001-09-29,abboj002,abbotje01
abbotji01,1967,9,19,USA,MI,Flint,,,,,,,Jim,Abbott,James Anthony,200,75,L,L,1989-04-08,1999-07-21,abboj001,abbotji01
abbotku01,1969,6,2,USA,OH,Zanesville,,,,,,,Kurt,Abbott,Kurt Thomas,180,71,R,R,1993-09-07,2001-04-13,abbok002,abbotku01
abbotky01,1968,2,18,USA,MA,Newburyport,,,,,,,Kyle,Abbott,Lawrence Kyle,200,76,L,L,1991-09-10,1996-08-24,abbok001,abbotky01
abbotod01,1886,9,5,USA,PA,New Eagle,1933,4,13,USA,DC,Washington,Ody,Abbott,Ody Cleon,165,69,L,R,1910-09-10,1910-10-15,abboo101,abbotod01
abbotpa01,1967,9,15,USA,CA,Van Nuys,,,,,,,Paul,Abbott,Paul David,185,75,R,R,1990-08-21,2004-08-07,abbop001,abbotpa01
aberal01,1927,7,31,USA,OH,Cleveland,1993,5,20,USA,OH,Garfield Heights,Al,Aber,Albert Julius,195,74,L,L,1950-09-15,1957-09-11,abera101,aberal01
abercda01,1850,1,2,USA,OK,Fort Towson,1939,11,11,USA,PA,Philadelphia,Frank,Abercrombie,Francis Patterson,,,,,1871-10-21,1871-10-21,aberd101,abercda01
abercre01,1980,7,15,USA,GA,Columbus,,,,,,,Reggie,Abercrombie,Reginald Damascus,215,75,R,R,2006-04-04,2008-09-28,aberr001,abercre01
abernbi01,1929,1,30,USA,CA,Torrance,2006,2,19,USA,CA,Yucaipa,Bill,Abernathie,William Edward,190,70,R,R,1952-09-27,1952-09-27,aberb101,abernbi01
abernbr01,1977,9,23,USA,GA,Atlanta,,,,,,,Brent,Abernathy,Michael Brent,185,73,R,R,2001-06-25,2005-09-29,aberb001,abernbr01
abernte01,1921,10,30,USA,NC,Bynum,2001,11,16,USA,NC,Charlotte,Ted,Abernathy,Talmadge Lafayette,210,74,R,L,1942-09-19,1944-04-29,abert102,abernte01
abernte02,1933,3,6,USA,NC,Stanley,2004,12,16,USA,NC,Gastonia,Ted,Abernathy,Theodore Wade,215,76,R,R,1955-04-13,1972-09-30,abert101,abernte02
abernwo01,1915,2,1,USA,NC,Forest City,1994,12,5,USA,KY,Louisville,Woody,Abernathy,Virgil Woodrow,170,72,L,L,1946-07-28,1947-04-17,aberw101,abernwo01
aberscl01,1921,8,28,USA,IL,Chicago,1973,6,23,USA,CA,Vallejo,Cliff,Aberson,Clifford Alexander,200,72,R,R,1947-07-18,1949-05-09,aberc101,aberscl01
ablesha01,1883,10,4,USA,TX,Terrell,1951,2,8,USA,TX,San Antonio,Harry,Ables,Harry Terrell,200,74,R,L,1905-09-04,1911-05-05,ableh101,ablesha01
```

### Query I: Find Person by PlayerID

#### CSV File Implementation ####

- No database engine.


- Have to write code that processes the file.


- The data is in a comma separated value file.

In [10]:
import csv
import json

# Directory/folder that holds various CSV files.
data_dir = "../../Data/"

def findByPlayerID(id):
    """
    Simple function that finds and returns information about a person based on unique playerID.
    - Input is the playerID
    - Returns a dictionary of the form { "col1" : value1, "col2": value2, ...}
    """
    
    # Open the file.
    with open(data_dir + "People.csv") as csvfile:
        
        # Use the CSV library to simplify processing the CSV format. Specify some information
        # about how the fields are separated.
        reader = csv.DictReader(csvfile, delimiter=',', quotechar='"')
        
        # Examine every row.
        for row in reader:
            # If the value of the playerID column is the ID we are looking for
            if row['playerID'] == id:
                # We have the result we are looking for.
                result = row
                # We can stop looking.
                break
        else:
            # We did not find anything.
            result = None
            
    return result

In [11]:
playerID = input("Enter a player's ID: ")
print("The player is \n", json.dumps(findByPlayerID(playerID), indent=3))

Enter a player's ID: willite01
The player is
 {
   "playerID": "willite01",
   "birthYear": "1918",
   "birthMonth": "8",
   "birthDay": "30",
   "birthCountry": "USA",
   "birthState": "CA",
   "birthCity": "San Diego",
   "deathYear": "2002",
   "deathMonth": "7",
   "deathDay": "5",
   "deathCountry": "USA",
   "deathState": "FL",
   "deathCity": "Inverness",
   "nameFirst": "Ted",
   "nameLast": "Williams",
   "nameGiven": "Theodore Samuel",
   "weight": "205",
   "height": "75",
   "bats": "L",
   "throws": "R",
   "debut": "1939-04-20",
   "finalGame": "1960-09-28",
   "retroID": "willt103",
   "bbrefID": "willite01"
}

#### Relational Database (MySQL) Implementation

- The CSV/code example uses a structured file (delimiters, quote characters, record separators, ...)


- The programmer has to write code to
    - Load the file.
    - Write a function that
        - Scans the list of records.
        - Determine if the record matches.
        
        
- The relational database engine provides many of these functions behind an abstraction: _the relational model._

In [13]:
import pymysql.cursors
import pandas as pd
import json

# The database server is running somewhere in the network.
# I must specify the IP address (HW server) and port number
# (connection that SW server is listening on)
# Also, I do not want to allow anyone to access the database
# and different people have different permissions. So, the
# client must log on.


# Connect to the database over the network. Use the connection
# to send commands to the DB.
cnx = pymysql.connect(host='localhost',
                             user='dbuser',
                             password='dbuser',
                             db='lahman2017',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)


def DBfindByPlayerID(id):
    
    # Some magic incantation that we will cover later.
    cursor=cnx.cursor()
    
    # A high level specification of the search request.
    q = "SELECT * FROM PEOPLE WHERE playerID='" + id + "';"
    print ("Query = ", q)
    
    # Run the command to produce a list of matching records.
    cursor.execute(q);
    
    # Get the first record from the result set.
    r = cursor.fetchone()
    

    return r

In [14]:
playerID = input("Enter a player's ID: ")
print("The player is \n", json.dumps(DBfindByPlayerID(playerID), indent=3, default=str))

Enter a player's ID: willite01
Query =  SELECT * FROM PEOPLE WHERE playerID='willite01';
The player is
 {
   "playerID": "willite01",
   "birthYear": 1918,
   "birthMonth": 8,
   "birthDay": 30,
   "birthCountry": "USA",
   "birthState": "CA",
   "birthCity": "San Diego",
   "deathYear": 2002,
   "deathMonth": 7,
   "deathDay": 5,
   "deathCountry": "USA",
   "deathState": "FL",
   "deathCity": "Inverness",
   "nameFirst": "Ted",
   "nameLast": "Williams",
   "nameGiven": "Theodore Samuel",
   "weight": "205",
   "height": "75",
   "bats": "L",
   "throws": "R",
   "debut": "1939-04-20",
   "finalGame": "1960-09-28",
   "retroID": "willt103",
   "bbrefID": "willite01",
   "DOD": "2002-07-05",
   "DOB": "1918-08-30"
}

#### Comments

1. You have to specify an "open" or "connect" to the thing holding the data.
<br><br>
1. CSV and Python is __imperative__ or __control flow.__ You have to explicitly code what you want to happen.
<br><br>
1. The RDB is __declarative.__
    - You provide a statement that expresses what you want to happen.
    - The database interprets and executes.
<br><br>
1. Performance:
    - The Python code loads and examines ```O(n)``` records, which is ```19,371``` in this example.
    - The RDB loads and examines ```O(log(n))``` records, which is ```15``` in this example because of the __index.__
<br><br>
1. The two function implementations are equally complex for this simple example. The relational model and language provide advanced functions that simplify more realistic and complex scenarios, which we will see. 
<br><br>

### Query II: Find All Players Matching a Template

#### Concept

- Finding the player with playerID = 'willite01' is a special case of a common use case $-$ matching a template.


- [MongoDB](https://docs.mongodb.com/manual/tutorial/query-documents/)

"Specify Equality Condition"

A query filter document can specify equality condition with <field>:<value> expressions to select all documents that contain the <field> with the specified <value>:

{ < field1 >: < value1 >, ... }


- [DynamoDB](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Query.html#Query.FilterExpression) filter expressions:
```
{
    ":fn":{"S":"Amazon DynamoDB#DynamoDB Thread 1"},
    ":num":{"N":"3"}
}
```


- [Neo4j Cypher](https://neo4j.com/docs/cypher-manual/current/clauses/match/)
```
MATCH (n:Movie {released: 1996}) return n
```


- Relational database model's [Structured Query Language (SQL)](https://en.wikipedia.org/wiki/SQL)
```
SELECT * FROM People where nameLast='Williams' and nameFirst='Ted'
```

- HW1's _template language_ is of the form
```
{
    nameLast: 'Williams',
    nameFirst: 'Ted'
}
```

- We (well you) will do two implementations classes:
    - CSV file(s)
    - Relational Database.

#### Simple RDB Example

- To help you get started, if the template is:
```
{
  table_name: 'People',
  template: {
      nameLast: 'Williams',
      nameFirst: 'Ted'
  }
}
```

- The SQL statement is ```SELECT * FROM People WHERE playerid='Williams' AND nameLast='Ted'```


- A couple of simple functions to help get started are.

In [15]:
def template_to_where_clause(t):
    """
    t is a dictionary (JSON object) of the form { "field1": value1, ... }
    This function converts the template into an SQL query string.
    """
    
    if t is None or len(t) == 0:
        return None

    terms = []
    for (k,v) in t.items():
        
        if isinstance(v, str):
            v = "'" + v + "'"
            
        terms.append(k + "=" + v)
    
    if len(terms) == 0:
        result = ""
    elif len(terms) == 1:
        result = "WHERE " + terms[0]
    else:
        result = "WHERE " + " AND ".join(terms)
        
    return result


def DBfindByTemplate(t):
    w = template_to_where_clause(t)
    cursor=cnx.cursor()
    q = "SELECT * FROM People " + w + ";"
    print ("Query = ", q)
    cursor.execute(q);
    r = cursor.fetchall()
    #print("Query result = ", r)
    return r

In [19]:
t1 = { "nameLast": "Williams", "birthCity": "San Diego"}
wc = template_to_where_clause(t1)
print("Where clause is: ", wc)

Where clause is:  WHERE nameLast='Williams' AND birthCity='San Diego'

In [20]:
# { "nameLast" : "Williams", "nameFirst" : "Ted" }
t = input("Input a template: ")
t = json.loads(t)
DBfindByTemplate(t)

Input a template: { "nameLast": "Williams", "birthCity": "San Diego"}
Query =  SELECT * FROM People WHERE nameLast='Williams' AND birthCity='San Diego';

[{'DOB': datetime.date(1918, 8, 30),
  'DOD': datetime.date(2002, 7, 5),
  'bats': 'L',
  'bbrefID': 'willite01',
  'birthCity': 'San Diego',
  'birthCountry': 'USA',
  'birthDay': 30,
  'birthMonth': 8,
  'birthState': 'CA',
  'birthYear': 1918,
  'deathCity': 'Inverness',
  'deathCountry': 'USA',
  'deathDay': 5,
  'deathMonth': 7,
  'deathState': 'FL',
  'deathYear': 2002,
  'debut': '1939-04-20',
  'finalGame': '1960-09-28',
  'height': '75',
  'nameFirst': 'Ted',
  'nameGiven': 'Theodore Samuel',
  'nameLast': 'Williams',
  'playerID': 'willite01',
  'retroID': 'willt103',
  'throws': 'R',
  'weight': '205'},
 {'DOB': datetime.date(1992, 4, 25),
  'DOD': None,
  'bats': 'R',
  'bbrefID': 'willitr01',
  'birthCity': 'San Diego',
  'birthCountry': 'USA',
  'birthDay': 25,
  'birthMonth': 4,
  'birthState': 'CA',
  'birthYear': 1992,
  'deathCity': '',
  'deathCountry': '',
  'deathDay': None,
  'deathMonth': None,
  'deathState': '',
  'deathYear': None,
  'debut': '2016-09-07',
  'finalGame': '2017-09-26',
  'height': '75',
  'nameFirst': 'Trevor',
  'nameGiven': 'Trevor Anthony',
  'nameLast': 'Williams',
  'playerID': 'willitr01',
  'retroID': 'willt002',
  'throws': 'R',
  'weight': '230'}]

#### CSV

In [ ]:
# Your code goes here for homework 1.
# Template is of the form { "nameLast" : "Williams", "nameFirst" : "Ted" }
# You support arbitrary templates of the form { "col1" : "value1", ... }
# Return all entries that match the template.

### Query III: Find Batter's Information by _playerID_

#### Concept

- Batting:
    - The player takes a turn at bat and attempts to hit a pitched ball.
    - There are several possible outcomes from a turn at-bat.
    
    
- 102,817 rows in the CSV file


- File size is 6.4 MB


| Attribute | Description                                           |
|-----------|-------------------------------------------------------|
| playerID  | Player ID code                                        |
| yearID    | Year                                                  |
| stint     | player's stint (order of appearances within a season) |
| teamID    | Team                                                  |
| lgID      | League                                                |
| G         | Games                                                 |
| AB        | At Bats                                               |
| R         | Runs                                                  |
| H         | Hits                                                  |
| 2B        | Doubles                                               |
| 3B        | Triples                                               |
| HR        | Homeruns                                              |
| RBI       | Runs Batted In                                        |
| SB        | Stolen Bases                                          |
| CS        | Caught Stealing                                       |
| BB        | Base on Balls                                         |
| SO        | Strikeouts                                            |
| IBB       | Intentional walks                                     |
| HBP       | Hit by pitch                                          |
| SH        | Sacrifice hits                                        |
| SF        | Sacrifice flies                                       |
| GIDP      | Grounded into double plays                            |
| | __Batting Data__ |

<br>

| <img src="../../images/bbmaster.jpeg" width="90%"> |
| :---: |
| __Batting Data__ |

- The function
    - Input parameters:
        - _playerID_
        - A list of (optional) column names that the user wants returned by the query.
    - Output:
        - Fields always returned: playerID, teamID, G, AB, HR, BB, iBB, RBI
        - Additional, optional fields requested in the input parameters.
        - Two computed fields:
            - BA = (H)/AB.
            - OBP = (H + BB + IBB)/(AB + BB + IBB)


- __Note:__
    - There may be many entries for a given player and year combination because of ["stints."]
    - Do not worry about what "stints" means.
    - The function produces the total over all stints in a year for a playerid, teamid combination.

In [21]:
%load_ext sql
%sql mysql+pymysql://dbuser:dbuser@localhost/lahman2017

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: dbuser@lahman2017'

- Example without grouping over stints.

In [22]:
%sql select * from batting \
where playerid='nieuwki01' and yearid=2015 order by stint;

3 rows affected.

[('nieuwki01', '2015', '1', 'NYN', 'NL', '27', '38', '3', '3', '2', '0', '0', '2', '2', '0', '2', '17', '0', '0', '0', '0', '0'),
 ('nieuwki01', '2015', '2', 'LAA', 'AL', '10', '22', '4', '3', '2', '0', '0', '1', '0', '1', '2', '9', '0', '0', '0', '0', '0'),
 ('nieuwki01', '2015', '3', 'NYN', 'NL', '37', '68', '14', '19', '7', '0', '4', '11', '0', '1', '6', '23', '0', '3', '0', '0', '2')]

- Correct set of rows by grouping over stints.

In [25]:
%%sql
select
    playerid, teamid, yearid,
    sum(g) as games, sum(h) as hits, sum(ab) as `at bats`, sum(bb) as walks, sum(ibb) as `intentional walks`,
    sum(hr) as `home runs`, sum(rbi) as `runs batted in`,
    round(sum(h)/sum(ab), 3) as `batting average`, 
    round(sum(h + bb + ibb)/sum(ab + bb + ibb), 3) as `on base percentage`
    from batting where playerid='nieuwki01' and yearid=2015 group by playerid, teamid, yearid;

2 rows affected.

[('nieuwki01', 'LAA', '2015', 10.0, 3.0, 22.0, 2.0, 0.0, 0.0, 1.0, 0.136, 0.208),
 ('nieuwki01', 'NYN', '2015', 64.0, 22.0, 106.0, 8.0, 0.0, 4.0, 13.0, 0.208, 0.263)]

#### Homework

- You will implement the functions using both SQL and reading a CSV file.


- I will more fully define the homework later in the lecture.

### Query III: Find the 10 Best Hitters in Modern Baseball

#### Definition/Algorithm

I want to know the 10 greatest career hitters whose last appearance was 1960 or later. A simple algorithm is
1. For each unique playerID in Batting
    1. Find the batting records for each year.
    1. If one of the years >= 1960. Compute over all years
        1. Total at bats
        1. Toal hits
        1. Batting average (total hits/total at bats)
1. For every result from above, use the playerID to look the name up in Master. Add to result.
1. Sort result by batting average descending.

#### Relational Database Implementation

- I am going define a helper function ```run_q()```

In [23]:
def run_q(q):
    cursor=cnx.cursor()
    cursor.execute(q);
    r = cursor.fetchall()
    cnx.commit()
    return r

In [24]:
def ten_greatest_hitters():
    q = "SELECT \
            Batting.playerID, \
            (SELECT People.nameFirst FROM People WHERE People.playerID=Batting.playerID) as first_name, \
            (SELECT People.nameLast FROM People WHERE People.playerID=Batting.playerID) as last_name, \
            sum(Batting.h)/sum(batting.ab) as career_average, \
            sum(Batting.h) as career_hits, \
            sum(Batting.ab) as career_at_bats,\
            min(Batting.yearID) as first_year, \
            max(Batting.yearID) as last_year \
            FROM \
            Batting \
            GROUP BY \
            playerId \
            HAVING \
            career_at_bats > 200 AND last_year >= 1960 \
            ORDER BY \
            career_average DESC \
            LIMIT 10;"

    r = run_q(q)
    return r

In [49]:
r = ten_greatest_hitters()
r

[{'career_at_bats': 220.0,
  'career_average': 0.5454545454545454,
  'career_hits': 120.0,
  'first_name': None,
  'first_year': '2019',
  'last_name': 'Fergie',
  'last_year': '2020',
  'playerID': 'dff111'},
 {'career_at_bats': 7706.0,
  'career_average': 0.3444069556189982,
  'career_hits': 2654.0,
  'first_name': 'Ted',
  'first_year': '1939',
  'last_name': 'Williams',
  'last_year': '1960',
  'playerID': 'willite01'},
 {'career_at_bats': 9288.0,
  'career_average': 0.3381782945736434,
  'career_hits': 3141.0,
  'first_name': 'Tony',
  'first_year': '1982',
  'last_name': 'Gwynn',
  'last_year': '2001',
  'playerID': 'gwynnto01'},
 {'career_at_bats': 10972.0,
  'career_average': 0.3308421436383522,
  'career_hits': 3630.0,
  'first_name': 'Stan',
  'first_year': '1941',
  'last_name': 'Musial',
  'last_year': '1963',
  'playerID': 'musiast01'},
 {'career_at_bats': 9180.0,
  'career_average': 0.32788671023965144,
  'career_hits': 3010.0,
  'first_name': 'Wade',
  'first_year': '1982',
  'last_name': 'Boggs',
  'last_year': '1999',
  'playerID': 'boggswa01'},
 {'career_at_bats': 9315.0,
  'career_average': 0.32775093934514227,
  'career_hits': 3053.0,
  'first_name': 'Rod',
  'first_year': '1967',
  'last_name': 'Carew',
  'last_year': '1985',
  'playerID': 'carewro01'},
 {'career_at_bats': 7244.0,
  'career_average': 0.3180563224737714,
  'career_hits': 2304.0,
  'first_name': 'Kirby',
  'first_year': '1984',
  'last_name': 'Puckett',
  'last_year': '1995',
  'playerID': 'puckeki01'},
 {'career_at_bats': 8155.0,
  'career_average': 0.31759656652360513,
  'career_hits': 2590.0,
  'first_name': 'Vladimir',
  'first_year': '1996',
  'last_name': 'Guerrero',
  'last_year': '2011',
  'playerID': 'guerrvl01'},
 {'career_at_bats': 9454.0,
  'career_average': 0.31732599957689867,
  'career_hits': 3000.0,
  'first_name': 'Roberto',
  'first_year': '1955',
  'last_name': 'Clemente',
  'last_year': '1972',
  'playerID': 'clemero01'},
 {'career_at_bats': 8322.0,
  'career_average': 0.31675078106224464,
  'career_hits': 2636.0,
  'first_name': 'Miguel',
  'first_year': '2003',
  'last_name': 'Cabrera',
  'last_year': '2017',
  'playerID': 'cabremi01'}]

#### CSV

In [ ]:
# You guessed it.
# Write a Python program that
# Reads People
# Reads Batting
# Computes the answer I produced using SQL.
#

# Your code goes here.

### Comments

- The book and the web have a lot of information comparing databases versus applications and files.
    - Ramakrishnan and Gehrke 1.3, 1.4
    - [From stack overflow](https://stackoverflow.com/questions/2356851/database-vs-flat-files)
        1. Databases can handle querying tasks, so you don't have to walk over files manually.
        1. Databases can handle very complicated queries.
        1. Databases can handle indexing tasks, so if tasks like get record with id = x can be VERY fast
        1. Databases can handle multiprocess/multithreaded access.
        1. Databases can handle access from network
        1. Databases can watch for data integrity
        1. Databases can update data easily (see 1) )
        1. Databases are reliable
        1. Databases can handle transactions and concurrent access
        1. Databases + ORMs let you manipulate data in very programmer friendly way.
        
        
- These explanations are vague and abstract until you have tried doing more complex things with CSV files.


- What I am asking you to do is relatively simple, but is still tedious without using a DB engine.

## The Applications We Will Build (Parts Of)

### Interactive Web Application

- We have data on Major League Baseball teams and players.


- We want to allow users to:
    - Find, query and display information.
    - Update information.


| <img src="../../images/lahman_web_app.jpeg"> |
| :---: |
| __Example User Interface__ |


- The UI task is to design and implement a baseball dashboard with three UI controls: 
    - Select the resource(s) to query or update (Players, Batting, Appearances)
    - Find an instance of the resource if you know the identifying fields.
    - Create an _ad hoc_ query to locate resource instances based on columns and values. Choose which columns you want in responses.
    
    
- From [Techopedia](https://www.techopedia.com/definition/30581/ad-hoc-query-sql-programming): "As the word 'ad hoc' suggests, this type of query is designed for a 'particular purpose,' which is in contrast to a predefined query ... An ad hoc query does not reside in the system for a long time and is created dynamically on demand by the user."
    - You can write a program or function for a predefined query, e.g. ```findByLastName(ln).``` The set of functions you write implements the predefined queries.
    - _Ad hoc_ allows the user to enter arbitrary queries you did no anticipate.
    
    
- We will primarily focus on the data aspects, because building the UI, business logic, HTML, etc. can be very, very complex. Implementing these applications is a one or two semester course itself.


| <img src="../../images/lahman_web_app.jpeg"> |
| :---: |
| __Application Structure__ |

__Demo__

### Simple Business Intelligence, Data Visualization and Decision Support

- The core elements of the RDB approach are very good for interactive applications, ad hoc queries and ensuring "data integrity." "Data integrity is the maintenance of, and the assurance of the accuracy and consistency of, ... and is a critical aspect to the design, implementation and usage of any system which stores, processes, or retrieves data." (https://en.wikipedia.org/wiki/Data_integrity)


- We will see how data modeling, schema definition, constraints, etc. enable "data integrity."


- The data models and data design for analysis and decision support are much, much different. We will see some examples, e.g.
    - OLAP Cube
    - Pivot Table
    - ...

| <img src="../../images/aws-quicksight.jpeg"> |
| :---: |
| [AWS Quicksight Charting and Analysis](https://aws.amazon.com/quicksight/) |

"In database engineering in computing, OLAP cube is a term that typically refers to a multi-dimensional array of data.

OLAP is an acronym for online analytical processing, which is a computer-based technique of analyzing data to look for insights. The term cube here refers to a multi-dimensional dataset, which is also sometimes called a hypercube if the number of dimensions is greater than 3." (https://en.wikipedia.org/wiki/OLAP_cube)

| <img src="../../images/olap-simple.jpeg"> |
| :---: |
| __OLAP Cubes__ |

### Machine Learning: Very Simple [Moneyball](https://en.wikipedia.org/wiki/Moneyball)

| <img src="../../images/neuron-perceptron.jpg" width="700px"> |
| :---: |
| __Neurons and Perceptrons__ |

We will
1. Shape and modify the baseball data to enable machine learning.
<br><br>
1. Use [scikit-learn](http://scikit-learn.org/stable/) to try to predict wins versus loses as a function of performance statistics
<br><br>
1. Shape information about individual players to allows us to build "fantasy teams" and see how they would do.

| <img src="../../images/moneyball.png"> |
| :---: |
| __Moneyball__ |

### Six Degrees of Kevin Bacon


"Six Degrees of Kevin Bacon is a parlor game based on the "six degrees of separation" concept, which posits that any two people on Earth are six or fewer acquaintance links apart. Movie buffs challenge each other to find the shortest path between an arbitrary actor and prolific actor Kevin Bacon. It rests on the assumption that anyone involved in the Hollywood film industry can be linked through their film roles to Bacon within six steps." (https://en.wikipedia.org/wiki/Six_Degrees_of_Kevin_Bacon)

| <img src="../../images/kevin-bacon-6.png"> |
| :---: |
| [Six Degrees of Kevin Bacon](http://www.markrobinsonwrites.com/the-music-that-makes-me-dance/2018/3/11/movie-morsel-six-degrees-of-kevin-bacon) |

- We will learn how to model and solve the problem using a prebuilt Neo4J Graph Database.

| <img src="../../images/kevinb.jpeg"> |
| :---: |
| __Six Degrees of Kevin Bacon__ |


- We will also
    - Upload baseball to build graph database
    - Perform graph queries based on players and teams.
   
| <img src="../../images/neo4j.jpeg"> |
| :---: |
| __Baseball Graph Database__ |

## Homework 1: Query Using CSV Files and Relational Databases

### Overview

| <img src="../../images/hw1oo.jpeg"> |
| :---: |
| __HW1 Class Diagram__ |

- We will incrementally build elements of a simple database engine that manages data in CSV files.
    - Two homework assignments will focus on building the simple engine.
    - HW 1 is the first, and lays a foundation.


- This will provide insight into
    - Pros and cons of database engines by comparing to user written code.
    - The various architecture and implementation technology in a database engine.
    - Basic approaches to writing "good" application code that uses database.
    
    
- The first step is implementing the five fundamental aspects of a relational database:
    - Query
    - Insert
    - Update
    - Delete
    - Keys (primary keys)
    
    
- We will use the CSV database engine and real database engines in various simple application scenarios.

### Problem Definition

- Implement two subclasses of the abstract class _BaseDataTable._


- _BaseDataTable_ definition:

In [28]:
# Import package to enable defining abstract classes in Python.
from abc import ABC, abstractmethod


class BaseDataTable(ABC):
    """
    The implementation classes (XXXDataTable) for CSV database, relational, etc. with extend the
    base class and implement the abstract methods. 
    """

    def __init__(self, table_name, connect_info, key_columns):
        """
        
        :param table_name: Logical, programmer defined name for the data table.
        :param connect_info: Dictionary of parameters necessary to connect to the data.
        :param key_columns: List, in order, of the columns (fields) that comprise the primary key.
        """
        self._table_name = table_name
        self._connect_info = connect_info
        self.key_columns = key_columns
        
    @abstractmethod
    def find_by_primary_key(self, key_fields, field_list):
        """
        
        :param key_fields: The values for the key_columns, in order, to use to find a record.
        :param field_list: A subset of the fields of the record to return.
        :return: None, or a dictionary containing the request fields for the record identified
            by the key.
        """
        pass

    @abstractmethod
    def find_by_template(self, template, field_list, limit, offset, order_by):
        """
        
        :param template: A dictionary of the form { "field1" : value1, "field2": value2, ...}
        :param field_list: A list of request fields of the form, ['fielda', 'fieldb', ...]
        :param limit: Do not worry about this for now.
        :param offset: Do not worry about this for now.
        :param order_by: Do not worry about this for now.
        :return: A list containing dictionaries. A dictionary is in the list representing each record
            that matches the template. The dictionary only contains the requested fields.
        """
        pass

    @abstractmethod
    def delete(self, template):
        """
        
        Deletes all records that match the template.
        
        :param template: A template.
        :return: A count of the rows deleted.
        """
        pass

    @abstractmethod
    def insert(self, new_record):
        """
        
        :param new_record: A dictionary representing a row to add to the set of records.
        :return: A count of the rows inserted.
        
        Raises an exception if the insert would create a duplicate primary key value.
        """   
        pass

    @abstractmethod
    def update(self, template, new_values):
        """

        :param template: A template that defines which matching rows to update.
        :param new_values: A dictionary containing fields and the values to set for the corresponding fields
            in the records.
        :return: The number of rows updates.
        
        Raises an exception if the insert would create a duplicate primary key value.
        """
        pass

- You will likely have to implement additional methods to complete your implementation.


- I will provide some simple test cases, but figuring out test cases and coverage is part of writing code in general.

<br>
<div style="color:red;font-size:32px;line-height: 110%;">
    My homework assignments are incompletely specified compared to homework assignments you receive in other courses.
    <ul>
        <span style="font-size: 28px"><li>In the real world, specifications for what you must implement are incredibly incomplete and often contradictory/unclear. </li>
        <span style="font-size: 28px"><li>Figuring out how to translate high-level requests into concrete implementations is what computer scientists, data engineers, etc. do for a living. This is our intellectual value.</li></span>
            </ul>
This will be frustrating and challenging. I understand this and am very lenient on grading, and spend time helping you figure things out.
<div>

## What is Next

1. Join the collaboration environments specified in the introduction: Piazza, Slack.
<br><br>
1. Install an _integrated development environment._ The introduction introduces some options.
<br><br>
1. Glone the GitHub project for this course. This will provide access to HW and exam templates, sample code, useful data, lecture notebooks, etc.